<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cat care - Adopt A Cat/Dog</title>
  <link rel="stylesheet" href="css/style.css">
  
</head>
<body>
<%- include('partials/header.html',{title:'Contact us'}) %>

<div class = "container">
  <aside>
    <nav>
      <ul class="nav-list">
        <li><a href="/">Home</a></li>
        <li><a href="/find">Find a Dog/Cat</a></li>
        <li><a href="/giveaway">Have a pet to Give Away</a></li>
        <li><a href="/dogcare">Dog cares</a></li>
        <li><a href="/catcare">Cat cares</a></li>
        
        <li><a href="/create-account">Create Account</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/contact">Contact us</a></li>
      </ul>
    </nav>
  </aside>

  <main>
    <h2>Contact Us</h2>
    <p>If you have question or need more help,please don't hesitate to contact us !</p>
    <p>
      <strong>Names:</strong>[Wenshuo Pei]<br>
      <strong>Student ID:</strong>[40281918]<br>
      <strong>Email address:</strong>[wenshuo.pei@mail.concordia.ca]<br>
      <a href="mailto:wenshuo.pei@mail.concordia.ca">wenshuo.pei@mail.concordia.ca</a>
    </p>
  </main>
</div>

<%- include('partials/footer.html') %>
</body>
</html>