<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cat care - Adopt A Cat/Dog</title>
  <link rel="stylesheet" href="css/style.css">
  
</head>
<body>
<%- include ('partials/header.html',{title:'Privacy Statement'}) %>

<div class="container">
 
  <main>
  <h2>Privacy Statement</h2>
  <p>  Your privacy is very important to us. We promise that any information provided
    will not be sold or misused. Adopt A‑Cat/Dog is not responsible for any inaccuracies
    in pet information posted by pet owners.</p>
  </main>
</div>


<%- include('partials/footer.html') %>
</body>
</html>